<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnLNjEWSxZ9pJkEA9phKZcn0pkqkxqDfc</string>
	<key>GCM_SENDER_ID</key>
	<string>432468585037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterKitapBar</string>
	<key>PROJECT_ID</key>
	<string>kitapbar-bb30d</string>
	<key>STORAGE_BUCKET</key>
	<string>kitapbar-bb30d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432468585037:ios:a177e1d78fe4523dd64a04</string>
</dict>
</plist>